@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
body{
    background-color: #044012;
    color:white;
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 24px;
    padding: 0 15%;
}
.heding{
    text-align: center;
    font-size: 1.12em;
    letter-spacing: 20px;
}
.heding1{
    text-align: center;
    font-size: 1.12em;
}
nav a{
    text-decoration: none;
    color: white;
}
.img5{
    width:350px;
}
.img div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Poslugi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
.gallery{
    display: grid;
    grid-template-columns:1.5fr 0.5fr;
    grid-gap:1%;
    padding: 10% 20%;
}
.img1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end:2;
    width: 500px;
}
.img2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:2 ;
    grid-column-end:3;
    width:97%
}
.img4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2 ;
    grid-column-end:3;
    height: 100%;
}
.img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.heding2{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
section{
    margin: 5%;
}
.Vylica{
    font-size: small;
}
.div66{
    text-align: center;
}
article{
    flex-direction: column;
}
.insta{
    width: 350px;
}
footer{
    margin-top: 13%;
}
.ylica{
    overflow: hidden;
    width: 30%;
    margin: 0 auto;
}
.ylica img{
    width: 100%;
    transition: all 0.5s;
}
.ylica img:hover{
    transition: all 0.5s;
    transform: scale(2);
}
@media screen and (max-width:600px){
    .img3{
        display: none;
    }
    .gallery{
        grid-template-columns:3.2fr 1.5fr;
        width:100%;
        padding: 10%;
    }
    .gallery img{
        width: 100%;
    }
    .img2{
        height:100%;
    }
    .img4{
        height: 100%;
    }
    body{
        font-size: 16px;
    }
    .heding{
        letter-spacing: 17px;
    }
    .div0{
        flex-direction: column-reverse;
    }
    .Poslugi img{
        width:100%;
    }
    .kartinka{
        width:100%;
    }
    .insta{
        width: 100%;
    }
    .ylica{
        width: 100%;
    }
}


@media screen and (max-width:1024px){
    .gallery{
        grid-template-columns:3.2fr 1.5fr;
        width:100%;
        padding: 10%;
    }
    .gallery img{
        width: 100%;
    }
}